html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  background-color: none !important;
}

/* Common CSS */
.center-me {
  text-align: center;
}

/* Common CSS Ends*/

/* --------------------------------------------------------------------------------- */

/* Header start */
.header {
  background-image: url("./Images/cafe.png");
  height: 200px;
}

.index-header {
  /* background-image: url("./Images/bg-image.png"); */
  background-size: cover;
  background-position: center;
}

.index-main-text {
  position: absolute;
  color: white;
  left: 35%;
  top: 55%;
  z-index: 1;
}

.index-main-text p {
  font-size: 6.5rem;
  margin: 0px;
  font-weight: lighter;
}

.header-content {
  justify-content: center;
  display: flex;
}

.topnav {
  overflow: hidden;
  background-color: #3330;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-bottom: 1px solid grey;
  z-index: 1;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;

  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-top: 70px;
  font-style: italic;
}

.topnav a:hover {
  color: #dbb46f;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 47%;
  }

  .index-main-text {
    left: 25%;
    top: 55%;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 45%;
  }

  .topnav {
    margin-top: 0 !important;
    padding-top: 0;
  }
  .topnav a:not(:nth-child(1)) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .index-main-text {
    left: 25%;
    top: 55%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 42%;
  }

  .topnav.responsive {
    position: absolute !important;
    padding-top: 0 !important;
  }
  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 25px;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    color: black;
    background-color: #dbb46f;
    font-weight: bold;
  }
  .topnav a {
    padding-top: 20px;
    font-weight: 700;
  }
  .topnav {
    overflow: hidden;
    background-color: #3330;
    position: absolute;
    width: 100%;
    display: block;
    margin-top: 0px;
  }

  .topnav img {
    display: none;
  }

  .icon {
    margin-right: 15px;
  }

  .index-main-text {
    left: 15%;
    top: 55%;
  }
}

@media screen and (max-width: 400px) {
  .index-main-text p {
    font-size: 2rem;
  }
  .index-main-text {
    left: 26%;
    top: 40%;
  }
}

/* Header End */
/* --------------------------------------------------------------------------------- */

/* Header Carousel start */

.slideshow-container img {
  vertical-align: middle;
  height: 100vh;
}

.slideshow-container {
  margin: auto;
}

.mySlides {
  display: none;
}

.dot-section-index {
  margin-top: -30px;
}

.dot-index {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #fffcfc00;
  border: 2px solid rgb(160, 144, 144);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 1;
}

.active,
.dot-index:hover {
  border: 2px solid #dbb46f;
}

/* Header Carousel End */
/* --------------------------------------------------------------------------------- */

/* Restaurant start */

.restaurant {
  background-image: url("./Images/donut.png");
  padding: 5% 20%;
}

.restaurant h2,
.our-story h2,
.index-favorite .favorite-head,
.index-tasty-menu .tasty-head,
.customer-head {
  color: #dbb46f;
  font-size: 2.5rem;
  font-weight: lighter;
}

.restaurant p {
  font-size: 1.5rem;
  color: #1d1c1c;
  text-align: center;
}
/* Restaurant End */
/* --------------------------------------------------------------------------------- */

/* Index - Our Favorite start */

.index-favorite {
  padding: 70px 0;
}

.index-favorite-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cmcard {
  padding: 15px;
  margin: 5px 14px;
  width: 18%;
  height: 350px;
  box-shadow: -1px 1px 9px 4px rgba(215, 206, 206, 0.56);
  -webkit-box-shadow: -1px 1px 9px 4px rgba(215, 206, 206, 0.56);
}

.cmcard:hover {
  transform: scale(1.1);
  transition: all 0.6s ease;
  border: 1px solid black;
  border-radius: 7px;
}

.pasta-card {
  background-image: url("./Images/pasta.jpg");
  background-size: cover;
}

.mango-card {
  background-image: url("./Images/mango-cake.jpg");
  background-size: cover;
}

.cupcake-card {
  background-image: url("./Images/cup-cake.jpg");
  background-size: cover;
}

.croissants-card {
  background-image: url("./Images/croissants.jpg");
  background-size: cover;
}

.favorite-subhead {
  position: relative;
  top: 70%;
  color: white;
  text-align: left;
  font-size: 2rem;
  font-weight: lighter;
}

.favorite-para {
  position: relative;
  top: 66%;
  font-size: 1.3rem;
  text-align: left;
  color: white;
}

@media only screen and (max-width: 1120px) and (min-width: 768px) {
  .cmcard {
    width: 30%;
    margin: 20px;
  }

  html {
    font-size: 59%;
  }
}

@media only screen and (max-width: 1000px) {
  .favorite-subhead {
    top: 78%;
  }

  .favorite-para {
    top: 75%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
  html {
    font-size: 60%;
  }

  .cmcard {
    width: 50%;
    margin: 20px 0px;
  }

  .slideshow-container img {
    vertical-align: middle;
    height: 90vh;
  }

  .favorite-subhead {
    top: 78%;
  }

  .favorite-para {
    top: 75%;
  }
}

@media only screen and (max-width: 480px) {
  .cmcard {
    width: 70%;
    margin: 20px 0px;
  }

  .slideshow-container img {
    vertical-align: middle;
    height: 80vh;
  }

  .favorite-para {
    top: 80%;
    font-size: 1.5rem;
  }

  .favorite-subhead {
    top: 83%;
  }
}

/* Index - Our Favorite end */
/* --------------------------------------------------------------------------------- */

/* Index - OUR TASTY MENU starts */

.index-tasty-menu {
  margin-top: 4rem;
  padding: 5rem 0;
  background-image: url("./Images/favourite-bg.jpg");
}

.index-tasty-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tmcard {
  padding: 20px;
  margin: 1rem 2rem;
  width: 20%;
  height: 35rem;
  box-shadow: -1px 1px 9px 4px rgba(215, 206, 206, 0.56);
  -webkit-box-shadow: -1px 1px 9px 4px rgba(215, 206, 206, 0.56);
  cursor: pointer;
}

.tmcard:hover {
  transform: scale(0.9);
  transition: all 0.6s ease;
}

.menu-card {
  border: 1px solid #dbb46f;
  background-color: #55420870;
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.drinks-card {
  background-image: url("./Images/drinks.jpg");
  background-size: cover;
}

.snacks-card {
  background-image: url("./Images/snacks.jpg");
  background-size: cover;
}

.lunch-card {
  background-image: url("./Images/lunch.jpg");
  background-size: cover;
}

button {
  height: 50px;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  font-size: 3.5rem;
  width: 50%;
  text-align: center;
  align-items: center;
  background-color: transparent;
}
@media only screen and (max-width: 1120px) and (min-width: 768px) {
  .tmcard {
    width: 28%;
    height: 400px;
  }
  .menu-card {
    height: 400px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
  .tmcard {
    width: 50%;
    height: 420px;
    margin: 20px 0px;
  }

  .menu-card {
    height: 410px;
  }
}

@media only screen and (max-width: 480px) {
  .tmcard {
    width: 65%;
    height: 350px;
    margin: 20px 0px;
  }
}

/* Index - OUR TASTY MENU  end */
/* --------------------------------------------------------------------------------- */

/* Index - Customer Review starts */
.customer-rev {
  padding: 5rem 0;
  background-image: url("./Images/wine.png");
}

.customer-para {
  color: #1d1c1c;
  padding: 20px 300px;
  font-size: 1.7rem;
}

.horizon {
  width: 4rem;
  height: 0.3rem;
  background-color: #1d1c1c;
}

.john {
  font-size: 1.5rem;
  font-weight: lighter;
}

/* Index - Customer Review starts end */
/* --------------------------------------------------------------------------------- */

/* Cafe Cards */
.cafe {
  background-image: url("./Images/card-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
}

.cafe-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-one {
  padding: 1rem;
  margin: 0 15px;
  width: 20%;
  background-color: #1d1c1c;
}

/* 
.card-one:hover {
  transform: scale(1.1);
  transition: all 0.6s ease;
} */

.cafe-cards img {
  width: 100%;
}

.cafe-cards img:hover {
  transform: scale(0.9);
}

.cafe-cards,
.card-one h2 {
  color: #dbb46f;
  text-align: center;
  padding: 10px 0;
}
.cafe-cards,
.card-one p {
  font-size: 1.5rem;
  color: white;
  text-align: left;
  padding: 10px 12px;
}

@media only screen and (max-width: 1180px) and (min-width: 850px) {
  .card-one {
    width: 35%;
    margin: 25px 15px;
  }

  .customer-para {
    padding: 20px 100px;
  }
}

@media only screen and (max-width: 850px) and (min-width: 610px) {
  .card-one {
    width: 75%;
    margin: 25px 0;
  }
  .customer-para {
    padding: 20px 100px;
  }
}

@media only screen and (max-width: 610px) and (min-width: 200px) {
  .card-one {
    width: 95%;
    margin: 25px 0;
  }
  .customer-para {
    padding: 20px 40px;
  }
}
/* 
@media only screen and (max-width: 480px) {
  .tmcard {
    width: 65%;
    height: 350px;
    margin: 20px 0px;
  }
} */

/* Cafe Cards Ends */
/* --------------------------------------------------------------------------------- */

/* Our story */
.our-story {
  background-image: url("./Images/chicken.png");
  padding-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.story-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.story-card1 {
  width: 30%;
  padding: 2%;
  box-sizing: border-box;
}
.story-cards .story-card1 p {
  font-size: 1.5rem;
  color: #1d1c1c;
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
  .story-card1 {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .story-card1 {
    width: 60%;
    padding: 5px 20px;
  }
}
/* Our story ends*/
/* --------------------------------------------------------------------------------- */

/* Our Chefs starts*/
.chef {
  background-image: url("./Images/review-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 150px;
}

.chef1 {
  position: relative;
}

.chef-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 10px;
  column-gap: 20px;
}

.chef,
.chef-cards h2 p {
  color: #ffffff;
  font-size: 1.3rem;
}

.chef1 img {
  border: 1px solid #dbb46f;
  border-radius: 5px;
  margin: 25px 0;
}

.image-overlay {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 73.5%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 5px;
}

.image-overlay:hover {
  opacity: 1;
}

.image-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image-overlay:hover > * {
  transform: translateY(0);
}

.image-description {
  font-size: 1.25em;
  margin-top: 0.25em;
  padding: 10px;
}

@media only screen and (max-width: 1000px) {
  .image-overlay {
    height: 76.5%;
  }
}

@media only screen and (max-width: 766px) {
  .image-overlay {
    height: 77.5%;
  }
}

@media only screen and (max-width: 600px) {
  .image-description {
    padding: 0 15px;
  }

  .image-overlay {
    height: 78%;
  }
}

@media only screen and (max-width: 600px) {
  .chef {
    padding: 80px 15px;
  }
}

/* Our Chefs ends*/
/* --------------------------------------------------------------------------------- */

/* Customer reviews starts*/

.reviews {
  background-image: url("./Images/wine.png");
  padding: 50px 15px;
}

.reviews h2 {
  color: #dbb46f;
  font-size: 2.5rem;
  font-weight: lighter;
}

.review-para {
  font-size: 1.6rem;
  padding: 0 45px;
  line-height: 2rem;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fffcfc;
  border: 2px solid rgb(160, 144, 144);
  border-radius: 50%;
  display: inline-block;
  /* transition: background-color 0.6s ease; */
}

.active,
.dot:hover {
  border: 2px solid #dbb46f;
}

/* Customer reviews ends*/
/* --------------------------------------------------------------------------------- */

/* Gallery starts*/
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.col-3-wall {
  width: 20%;
  height: 400px;

  background-image: url("./Images/wall.png");
  background-size: cover;
}

.col-6-chef {
  width: 60%;
  height: 400px;
}

.row-1 {
  height: 50%;
  display: flex;
}

.first-chef {
  width: 70%;
  height: 100%;
  background-image: url("./Images/man.png");
  background-size: cover;
}

.second-chef {
  width: 30%;
  height: 100%;
  background-image: url("./Images/chef\ 1.png");
  background-size: cover;
}

.row-2 {
  height: 50%;

  background-image: url("./Images/bulbs.png");
  background-size: cover;
}

.col-3-hot {
  background-image: url("./Images/board.png");
  background-size: cover;

  width: 20%;
  height: 400px;
}

@media only screen and (max-width: 600px) {
  .gallery {
    flex-direction: column;
  }

  .col-3-wall {
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .col-6-chef,
  .col-3-hot {
    width: 100%;
  }
}

/* Gallery ends*/
/* --------------------------------------------------------------------------------- */

/* Footer starts*/

.footer {
  color: rgb(223, 219, 219);
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: lighter;
}

/* Footer ends*/
/* --------------------------------------------------------------------------------- */
